@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@500&family=Roboto+Slab:wght@300&display=swap');

.Container {
  display: flex;
  background-color: aquamarine;
}

.LeftPart {
  flex: 1;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem;
}

.CentrePart {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 4px;
}

.CentrePart h1 {
  font-size: 6vw; /* Responsive font size */
}

.CentrePart h1 span {
  font-weight: 800;
}

.CentrePart h2 {
  font-family: Poppins;
  font-size: 2vw; /* Responsive font size */
  font-weight: lighter;
}

.CentrePart p {
  font-size: 1.5vw; /* Responsive font size */
  font-family: 'Roboto Slab';
}

.RightPart {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative; /* Make sure images are positioned relative to this container */
}

.BigCircle {
  height: 30vw; /* Responsive size */
  border-radius: 50%;
  border: 1px solid #fd6220;
  z-index: 1;
  margin-right: 2vw; /* Responsive margin */
}

.SolidCircle {
  width: 20vw; /* Responsive size */
  height: auto;
  z-index: 2;
  margin-bottom: 5vw; /* Responsive margin */
}

.MyImage {
  width: 25vw; /* Responsive size */
  height: auto;
  z-index: 3;
  border-radius: 50%;
  filter: brightness(110%);
  position: absolute;
  bottom: 0;
  right: 0;
}

.Arc {
  height: 12vw; /* Responsive size */
  position: absolute;
  bottom: 0;
  right: 0;
}

.Arc2 {
  transform: translateX(-1.8vw) rotate(9deg); /* Adjusted for responsiveness */
}


@media (max-width: 768px) {
  .Container {
    flex-direction: column; /* Stack items vertically on smaller screens */
  }

  .RightPart {
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    padding: 2rem; /* Add padding for spacing */
  }

  .BigCircle {
    height: 20vw; /* Adjusted size for smaller screens */
    margin-bottom: 2rem; /* Add margin between items */
  }

  .SolidCircle {
    width: 15vw; /* Adjusted size */
    margin-bottom: 2rem; /* Add margin between items */
  }
}