@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap&family=Zen+Dots:wght@300;400;700&display=swap');

main{
    display:flex;
    align-items:center; 
    height: 100%;
}
.right-side h2{
    font-family: "Zen Dots";   
}
.left-side h1{
    font-family: Montserrat;
    margin: 1rem;
    font-size: 40px;
}
.left-side h2{
  text-align: left;
  letter-spacing: 2px;
  word-spacing: 4px;
  margin-left: 1rem;
  text-align: right;
  font-family: "Bebas Neue";
}
.left-side{
    height: 100%;
    margin: 1rem;
}

.right-side{                        
    height: 100%;
    margin-right: 1rem;
}

.avatar-img{
    width: 24rem;
    border-radius: 20px ;
    margin-bottom: 20px;
}

.chat-img{
    max-width:40rem;
}
.mern-img{
    margin: 12px;
    width:9rem;
}
.mern-img:hover{
    transform: scale(1.1);
    cursor:pointer;
}
.btn-div{
    text-align: center;
}
.btn {
  display: inline-block; 
  border:2px solid rgb(199, 159, 106);
  padding: 10px;
  margin: 1rem;
  box-shadow: 2px 1px  rgb(121, 123, 121);
  font-size: 14px;
  font-family: Verdana, sans-serif;
  font-weight: bold;
  border-radius: 20px;
  transition: ease-in-out 0.2s;
  color: black;

}

.btn:hover {
  background-color:#fd6220;
  color: white;
  cursor: pointer;
  transform: scale(1.1);
  border-radius: 0;
}

@media screen and (max-width: 768px) {
  .main {
    flex-direction: column;
    align-items: center;
  }

  .left-side,
  .right-side {
    width: 100%;
    margin-left: 4rem;
  }

  .typing-img{
    max-width: 30rem;
    margin-left:1rem ;
  }
  .hcjs-img {
    margin: 0.5rem;
  }
}
